<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DemoWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="DemoWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44311/DemoWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DemoWebServiceSoap"
                contract="DemoRef.DemoWebServiceSoap" name="DemoWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>